@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family:  'DM Sans', sans-serif;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 1.5px;
}
